@charset "UTF-8";


/* 공통 태그 설정 */
a{
	text-decoration:none;
	color:black;
}
a:hover{
	color:black;
}

/* 리스트 왼쪽 테두리 */
li {
/* 	border-left: 2px solid #c0c0c0; */
}

li:first-child {
  border-left: none;
}

/* 바디 */

body{
	 font-family:'Malgun Gothic';
	}
.wrap.container{
	width: 100%;
}

/* wrap: 헤더,컨텐츠,푸터를 감싸는 div */
.wrap{
	min-width: 1500px;
	max-width: 100%;
}

/* 헤더 */
header {
	width:100%;
	height: 130px;
	padding : 0 100px;
}
	.logo {
		display:inline-block;
		width: 100%;
		height: 100%;
		text-align: center;
		vertical-align: middle;
		font-size: 60px;
		font-weight: bolder;
		padding: 0px 30px;
	}
	.login-wrap{
		position:relative;
		bottom: 150px;
		display:inline-block;
		float:right;
		width: 600px;
		height:0%;
		text-align:right;
		padding-right: 100px;
	}
		.login-wrap li {
			padding: 15px;
			font-size: 15px;
			font-weight: bold;
			list-style: none;
			display: inline-block;
		}
			.text-menu{
			}
				.menu-img{
					display:inline-block;
					margin: 10px;
					width: 60px;
					height: 60px;
				}
				.icon-img{
					width: 30px;
					height: 30px;
				}

/* 메뉴바 */
nav{
	width:100%;
	text-align: center;
	height:30px
}
	.navBar{
		display:inline-block;
		width:600px;
		padding:0;
	}
	.navBar ul{
		margin:0;
	}
	.navBar li{
			padding: 5px 60px;
			font-size: 20px;
			font-weight: bold;
			list-style: none;
			display: inline-block;
		}
	.navBar li:hover {
			color:darkorange;
			cursor:pointer;
		}

/* 컨텐츠 */
.contents.row{
	padding:0 230px;
	margin-top:10px;
}

.contents{
/* 	padding: 0px 50px; */
/* 	padding-left: 0; */
}
	#contents-wrap{
/* 		height: 500px; */
	}
/* 	사이드바 사용 시  */
	.sideBar{
		width: 11%;
		padding:0;
		font-size:18px;
	}
	.stickySidebar{
/* 		position:fixed; */
		width:20%;
		border-right: 2px solid #c0c0c0;
		
	}
	.sidebarArea{
		width:20%
	}
	
		.list-group li:first-child{
			font-size:20px;
			font-weight:bold;
			height:15%;
		}
		.sideBar-list{
			border-style: none;
			padding: 3%;
		}
	
	.contents-side{
		width: 89%;
		padding:12px;
		
	}
		#inner-header,#inner-contents{
			width:70%;
			margin: 20px auto;
		}
/* 사이드바 미 사용 시 */
	.contents-noside{
		width: 100%;
		padding:12px;
		
	}

#detail-wrap{
/* 	width:80%; */
}
	
footer{
	padding:12px;
	margin-top:10px;
	height: 200px;
	background-color: lightgray;
}
	#footer-info{
		width:80%;
		text-align: center;
		margin: 0 auto;
	}

