@charset "UTF-8";

.header {
	display: flex;
}

.logo {
	width: 65%;
	float: left;
	font-size: 30px;
	font-weight: bold;
	padding: 20px 30px;
}

li {
	padding: 15px;
	font-size: 20px;
	font-weight: bold;
	list-style: none;
	display: inline-block;
}

ul li {
	border-left: 1px solid #c0c0c0;
}

ul li:first-child {
  border-left: none;
}

.link-primary {
	text-decoration-line: none;
}

.nav-item:hover {
	color:blue;
}

