<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminReportMapper">
	<resultMap type="AdminReport" id="adminReportResultMap">
		<id property="reportNo" 			column="REPORT_NO"/>
		<result property="contentsNo" 		column="CONTENTS_NO"/>
		<result property="contentsCode" 	column="CONTENTS_CODE"/>
		<result property="reportType" 		column="REPORT_TYPE"/>
		<result property="reportMember" 	column="REPORT_MEMBER"/>
		<result property="reportContents" 	column="REPORT_CONTENTS"/>
		<result property="reportDate"		column="REPORT_DATE"/>
		<result property="reportProcess" 	column="REPORT_PROCESS"/>
		<result property="contentsProcess" 	column="CONTENTS_PROCESS"/>
		<result property="memberProcess" 	column="MEMBER_PROCESS"/>
		<result property="memberId" 		column="MEMBER_ID"/>
		<result property="memberNick" 		column="MEMBER_NICK"/>
		<result property="reportMemberNick" column="REPORT_MEMBER_NICK"/>
		<result property="joinReportType"		column="JOIN_REPORT_TYPE"/>
		<result property="reportName"		column="REPORT_NAME"/>
		<result property="joinContentsCode" 	column="JOIN_CONTENTS_CODE"/>
		<result property="contentsName" 	column="CONTENTS_NAME"/>
	</resultMap>
<!-- 	<insert id=""> -->
<!-- 	</insert> -->
	<!-- 신고 조회 -->
	<select id="selectAllAdminReportList" resultMap="adminReportResultMap">
		SELECT * FROM REPORT_TBL Q
		JOIN CONTENTS_CODE_TBL C ON Q.CONTENTS_CODE = C.CONTENTS_CODE
		JOIN REPORT_TYPE_TBL R ON Q.REPORT_TYPE = R.REPORT_TYPE
		ORDER BY Q.REPORT_NO DESC
	</select>
	<!-- 신고 조건별 검색 -->
	<select id="selectAllByValue" resultMap="adminReportResultMap">
  		SELECT * FROM (SELECT * FROM REPORT_TBL Q
		JOIN CONTENTS_CODE_TBL C ON Q.CONTENTS_CODE = C.CONTENTS_CODE
		JOIN REPORT_TYPE_TBL R ON Q.REPORT_TYPE = R.REPORT_TYPE ORDER BY Q.REPORT_NO DESC)
  		<where>
  			<if test="searchCondition.toString() == 'reportMember'">
  				REPORT_MEMBER LIKE '%'||#{searchValue}||'%'
  			</if>
  			<if test="searchCondition.toString() == 'contents'">
  				REPORT_CONTENTS LIKE '%'||#{searchValue}||'%'
  			</if>
  			<if test="searchCondition.toString() == 'all'">
	  			REPORT_MEMBER LIKE '%'||#{searchValue}||'%'
	  			OR REPORT_CONTENTS LIKE '%'||#{searchValue}||'%'
  			</if>
  		</where>
  	</select>
  	<!-- 신고 총 갯수 -->
	<select id="selectTotalCount" resultType="_int">
  		SELECT COUNT(*) FROM (SELECT * FROM REPORT_TBL Q
		JOIN CONTENTS_CODE_TBL C ON Q.CONTENTS_CODE = C.CONTENTS_CODE
		JOIN REPORT_TYPE_TBL R ON Q.REPORT_TYPE = R.REPORT_TYPE
		<if test="contentsCode != null">
			AND Q.CONTENTS_CODE = #{contentsCode}
  		</if>
		ORDER BY Q.REPORT_NO DESC)
  		<where>
			<if test="searchCondition.toString() == 'reportMember'">
				REPORT_MEMBER LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'contents'">
				REPORT_CONTENTS LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'all'">
				REPORT_MEMBER LIKE '%'||#{searchValue}||'%'
	  			OR REPORT_CONTENTS LIKE '%'||#{searchValue}||'%'
			</if>
		</where>
  	</select>
  	<!-- 신고 페이지 조회 -->
	<select id="selectOneByNo" resultMap="adminReportResultMap">
		SELECT * FROM (SELECT * FROM REPORT_TBL Q
		JOIN CONTENTS_CODE_TBL C ON Q.CONTENTS_CODE = C.CONTENTS_CODE
		JOIN REPORT_TYPE_TBL R ON Q.REPORT_TYPE = R.REPORT_TYPE ORDER BY Q.REPORT_NO DESC) 
		WHERE REPORT_NO = #{reportNo}
	</select>
	<!-- 신고 조건별 조회 -->
	<select id="selectAllBySort" resultMap="adminReportResultMap">
		SELECT * FROM (SELECT * FROM REPORT_TBL Q
		JOIN CONTENTS_CODE_TBL C ON Q.CONTENTS_CODE = C.CONTENTS_CODE
		JOIN REPORT_TYPE_TBL R ON Q.REPORT_TYPE = R.REPORT_TYPE AND Q.CONTENTS_CODE = #{contentsCode}
		ORDER BY Q.REPORT_NO DESC)
	</select>
	<!-- 신고 처리 -->
	<update id="updateReportProcess">
		UPDATE REPORT_TBL SET CONTENTS_PROCESS = #{contentsProcess }, MEMBER_PROCESS = #{memberProcess }
		WHERE REPORT_NO = #{reportNo}
	</update>
	
</mapper>