<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace= "BoardMapper">
	<resultMap type= "Board"				id="boardResultMap">
  		<id 	property="boardNo" 			column="BOARD_NO"/>
  		<result property="memberNick" 		column="MEMBER_NICK"/>
  		<result property="boardTitle" 		column="BOARD_TITLE"/>
  		<result property="boardContents"	column="BOARD_CONTENTS"/>
  		<result property="boardCategory" 	column="BOARD_CATEGORY"/>
  		<result property="bFileName" 		column="B_FILE_NAME"/>
  		<result property="bFileRename" 		column="B_FILE_RENAME"/>
  		<result property="bFilePath" 		column="B_FILE_PATH"/>
  		<result property="boardDate" 		column="BOARD_DATE"/>
  		<result property="boardCount" 		column="BOARD_COUNT"/>
  		<result property="boardGood" 		column="BOARD_GOOD"/>
  		<result property="boardBad" 		column="BOARD_BAD"/>
  	</resultMap>
  	
  	<!-- 게시글 등록 -->
  	<insert id="insertBoard">
  		INSERT INTO BOARD_TBL VALUES(SEQ_BOARDNO.NEXTVAL,#{memberNick}
  		,#{boardTitle},#{boardContents},#{boardCategory},#{bFileName}
  		,#{bFileRename},#{bFilePath},DEFAULT,DEFAULT,DEFAULT,DEFAULT)
  	</insert>

  	<!-- 모든 게시글 SELECT -->
  	<select id="selectAllBoard" resultMap="boardResultMap">
  		SELECT BOARD_NO,MEMBER_NICK,BOARD_TITLE,BOARD_CONTENTS,BOARD_CATEGORY,B_FILE_NAME,B_FILE_RENAME,B_FILE_PATH,BOARD_DATE,BOARD_COUNT,BOARD_GOOD,BOARD_BAD
  		FROM BOARD_TBL ORDER BY BOARD_NO DESC
  	</select>
  	
  	<!-- 게시판 게시글 수 return -->
  	<select id="selectTotalCount" resultType="_int">
  		SELECT COUNT(*) FROM BOARD_TBL
		<where>
			<if test="searchCondition.toString() == 'all'">
				BOARD_TITLE LIKE '%'||UPPER(#{searchValue})||'%' OR BOARD_CONTENTS LIKE '%'||UPPER(#{searchValue})||'%' OR MEMBER_NICK LIKE '%'||UPPER(#{searchValue})||'%'	
			</if>
			<if test="searchCondition.toString() == 'title'">
				BOARD_TITLE LIKE '%'||UPPER(#{searchValue})||'%'
			</if>
			<if test="searchCondition.toString() == 'contents'">
				BOARD_CONTENTS LIKE '%'||UPPER(#{searchValue})||'%'
			</if>
			<if test="searchCondition.toString() == 'member'">
				MEMBER_NICK LIKE '%'||UPPER(#{searchValue})||'%'
			</if>
		</where>
		ORDER BY BOARD_NO DESC
	</select>
	
	<!-- 검색 조건에 의한 게시글 SELECT -->
	<select id="selectSearchBoard" resultMap="boardResultMap">
	  	SELECT * FROM BOARD_TBL
	  	<where>
			<if test="searchCondition.toString() == 'all'">
				BOARD_TITLE LIKE '%'||UPPER(#{searchValue})||'%' OR BOARD_CONTENTS LIKE '%'||UPPER(#{searchValue})||'%' OR MEMBER_NICK LIKE '%'||UPPER(#{searchValue})||'%'	
			</if>
			<if test="searchCondition.toString() == 'title'">
				BOARD_TITLE LIKE '%'||UPPER(#{searchValue})||'%'
			</if>
			<if test="searchCondition.toString() == 'contents'">
				BOARD_CONTENTS LIKE '%'||UPPER(#{searchValue})||'%'
			</if>
			<if test="searchCondition.toString() == 'member'">
				MEMBER_NICK LIKE '%'||UPPER(#{searchValue})||'%'
			</if>
		</where>
	</select>
	
	<select id="selectOneByNo" resultMap="boardResultMap">
		SELECT * FROM BOARD_TBL WHERE BOARD_NO = #{boardNo}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updateBoardCount">
		UPDATE BOARD_TBL SET BOARD_COUNT=BOARD_COUNT+1 WHERE BOARD_NO=#{boardNo}
	</update>
	
	<!-- 게시글 추천/비추천 -->
	<insert id="insertGoodBadCount">
		INSERT INTO BOARD_RECORD_TBL VALUES(SEQ_RECORDNO.NEXTVAL, #{memberNick}, #{boardNo}, #{goodOrBad})
	</insert>
	
	<select id="selectCountGood" resultType="_int">
		SELECT COUNT(*) FROM BOARD_RECORD_TBL WHERE BOARD_NO=#{boardNo} AND GOOD_OR_BAD='GOOD'
	</select>
	
	<select id="selectCountBad" resultType="_int">
		SELECT COUNT(*) FROM BOARD_RECORD_TBL WHERE BOARD_NO=#{boardNo} AND GOOD_OR_BAD='BAD'
	</select>
	
	<select id="selectBoardRecord" resultType="_int">
		SELECT COUNT(*) FROM BOARD_RECORD_TBL WHERE BOARD_NO=#{boardNo} AND MEMBER_NICK=#{memberNick}
	</select>
	
	<select id="updateGood">
		UPDATE BOARD_TBL SET BOARD_GOOD=BOARD_GOOD+1 WHERE BOARD_NO=#{boardNo}
	</select>
	
	<select id="updateBad">
		UPDATE BOARD_TBL SET BOARD_BAD=BOARD_BAD+1 WHERE BOARD_NO=#{boardNo}
	</select>
</mapper>