<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardReplyMapper">
	<resultMap  type="BoardReply" 			id="BoardReplyMap">
		<id 	column="REPLY_NO" 			property="replyNo"/>
		<result column="BOARD_NO"			property="boardNo"/>
		<result column="REF_REPLY_NO" 		property="refReplyNo"/>
		<result column="REPLY_WRITER" 		property="replyWriter"/>
		<result column="REPLY_CONTENTS"		property="replyContents"/>
		<result column="R_CREATE_DATE" 		property="rCreateDate"/>
		<result column="R_UPDATE_DATE" 		property="rUpdateDate"/>
		<result column="R_STATUS" 			property="rStatus"/>
		<result column="RE_REPLY_YN" 		property="reReplyYn"/>
	</resultMap>
	
	<!-- 댓글/답글 등록 -->
	<insert id="insertBoardReply">
		<if test='refReplyNo == -1'>
			INSERT INTO BOARD_REPLY_TBL
			VALUES(SEQ_REPLYNO.NEXTVAL,#{boardNo},SEQ_REPLYNO.CURRVAL,#{replyWriter},#{replyContents},DEFAULT,DEFAULT,DEFAULT,#{reReplyYn})
		</if>
		<if test='refReplyNo != -1'>
			INSERT INTO BOARD_REPLY_TBL
			VALUES(SEQ_REPLYNO.NEXTVAL,#{boardNo},#{refReplyNo},#{replyWriter},#{replyContents},DEFAULT,DEFAULT,DEFAULT,#{reReplyYn})
		</if>
	</insert>
	
	<!-- 댓글/답글 리스트 조회 -->
	<select id="selectBoardReply" resultMap="BoardReplyMap">
		SELECT ROW_NUMBER() OVER(PARTITION BY REF_REPLY_NO ORDER BY R_CREATE_DATE) AS TEMP, BOARD_REPLY_TBL.*
		FROM BOARD_REPLY_TBL
		WHERE BOARD_NO=#{boardNo}
	</select>
	
	<!-- 댓글 수정 -->
	<update id="updateBoardReply">
		UPDATE BOARD_REPLY_TBL
		SET REPLY_CONTENTS =#{replyContents}
		WHERE REPLY_NO=#{replyNo} AND R_STATUS = 'Y'
	</update>
	
	<!-- 댓글/답글 삭제 -->
	<update id="deleteBoardReply">
		UPDATE BOARD_REPLY_TBL
		SET REPLY_CONTENTS = '작성자에 의해 삭제된 댓글입니다.',R_STATUS='N'
		WHERE REPLY_NO=#{replyNo} AND R_STATUS = 'Y'
	</update>
</mapper>