<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="CartMapper">
	<resultMap type="Cart" id="CartResultMap">
		<id		column="PRODUCT_NO" 			property="productNo"/>
		<result column="MEMBER_ID"			    property="memberId"/>
		<result column="PRODUCT_AMOUNT" 		property="productAmount"/>
		<result column="CART_CHECK"				property="cartCheck"/>
	</resultMap>
	
	<insert id="insertCart">
		INSERT INTO CART_TBL
		VALUES(#{productNo},#{memberId},#{productAmount},DEFAULT)
	</insert>
	
	<select id="selectCheckCart" resultType="_int">
		SELECT COUNT(*) FROM CART_TBL
		WHERE PRODUCT_NO = #{productNo} AND MEMBER_ID = #{memberId}
	</select>
	
	<select id="selectCart" resultMap="CartResultMap">
		SELECT * FROM CART_TBL
		WHERE MEMBER_ID = #{memberId}
	</select>
	
	<select id="selectCartChecked" resultMap="CartResultMap">
		SELECT * FROM CART_TBL
		WHERE MEMBER_ID = #{memberId} AND CART_CHECK = 'Y'
	</select>
	
	<select id="selectGetCountCart" resultType="_int">
		SELECT COUNT(*) FROM CART_TBL
		WHERE MEMBER_ID = #{memberId}
	</select>
	
	<update id="updateQtyCart">
		UPDATE CART_TBL SET PRODUCT_AMOUNT = PRODUCT_AMOUNT + #{productAmount}
		WHERE MEMBER_ID = #{memberId} AND PRODUCT_NO = #{productNo}
	</update>
	
	<update id="updateToQtyCart">
		UPDATE CART_TBL SET PRODUCT_AMOUNT = #{productAmount}
		WHERE MEMBER_ID = #{memberId} AND PRODUCT_NO = #{productNo}
	</update>
	
	<update id="updateCheckCart">
		UPDATE CART_TBL 
		<if test='cartCheck == "Y"'>
		SET CART_CHECK = 'Y'
		</if>
		<if test='cartCheck == "N"'>
		SET CART_CHECK = 'N'
		</if>
		WHERE MEMBER_ID = #{memberId} AND PRODUCT_NO = #{productNo}
	</update>
	
	<update id="updateAllCheckCart">
		UPDATE CART_TBL 
		<if test='cartCheck == "Y"'>
		SET CART_CHECK = 'Y'
		</if>
		<if test='cartCheck == "N"'>
		SET CART_CHECK = 'N'
		</if>
		WHERE MEMBER_ID = #{memberId}
	</update>
	
	<delete id="deleteCart">
		DELETE FROM CART_TBL
		WHERE MEMBER_ID = #{memberId} AND PRODUCT_NO = #{productNo} 
	</delete>
</mapper>