<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="CouponMapper">
	
	<resultMap type="Coupon" id="CouponResultMap">
		<id		column="COUPON_NO" 					 property="couponNo"/>
		<result column="COUPON_NAME" 				 property="couponName"/>
		<result column="COUPON_DESC" 			 	 property="couponDesc"/>
		<result column="DISCOUNT_AMOUNT" 			 property="discountAmount"/>
		<result column="DISCOUNT_RATIO" 			 property="discountRatio"/>
		<result column="PRICE_CONDITION" 			 property="priceCondition"/>
		<result column="BRAND_CONDITION" 			 property="brandCondition"/>
		<result column="FIRST_CONDITION" 			 property="firstCondition"/>
		<result column="COUPON_PERIOD" 				 property="couponPeriod"/>
		<result column="COUPON_REGI_DATE" 			 property="couponRegiDate"/>
		<result column="PRODUCT_CONDITION"			 property="productCondition"/>
		<result column="COUPON_RUN_YN" 				 property="couponRunYn"/>
		<result column="GET_COUPON_DATE" 			 property="getCouponDate"/>
		<result column="END_COUPON_DATE" 			 property="endCounponDate"/>
		<result column="USE_YN" 					 property="useYn"/>
		<result column="COUON_IMG_ROOT" 			 property="couponImgRoot"/>
		<result column="COUPON_IMG_NAME" 			 property="couponImgName"/>
		<result column="COUPON_IMG_RENAME" 		     property="couponImgRename"/>
		<result column="DISCOUNT_METHOD" 		     property="discountMethod"/>
		<result column="MEMBER_ID" 		    		 property="memberId"/>
	</resultMap>
	
	<insert id="insertCoupon">
		INSERT INTO COUPON_TBL
		VALUES(SEQ_COUPON_NO.NEXTVAL,#{couponName},#{couponDesc},#{discountAmount},#{priceCondition},#{brandCondition},#{firstCondition},#{couponPeriod},DEFAULT,#{productCondition},DEFAULT,#{discountRatio},#{couponImgRoot},#{couponImgName},#{couponImgRename},#{discountMethod})
	</insert>
	
	<select id="selectCoupon" resultMap="CouponResultMap">
		SELECT * FROM COUPON_TBL
		<if test='searchVal != "" and searchVal != null'>
			WHERE (COUPON_NAME LIKE '%'||#{searchVal}||'%') OR(COUPON_DESC LIKE '%'||#{searchVal}||'#')
		</if>
		<choose>
			<when test = 'searchColumn != "" and searchColumn != null'>
				ORDER BY ${searchColumn} ${orderCondition}
			</when>
			<otherwise>
				ORDER BY COUPON_REGI_DATE DESC
			</otherwise>
		</choose>
	</select>	
	
	<select id="selectMemberCoupon" resultMap="CouponResultMap">
		SELECT * 
		FROM COUPON_TBL C JOIN MEMBER_COUPON_TBL MC
		ON C.COUPON_NO = MC.COUPON_NO
		WHERE MEMBER_ID = #{memberId}
	</select>
	
	<select id="selectCouponCount" resultType="_int">
		SELECT COUNT(*)
		FROM COUPON_TBL
		<if test='searchVal != "" and searchVal != null'>
			WHERE (COUPON_NAME LIKE '%'||#{searchVal}||'%') OR(COUPON_DESC LIKE '%'||#{searchVal}||'#')
		</if>
	</select>
	
	<select id="selectMemberCouponCount" resultType="_int">
		SELECT COUNT(*)
		FROM COUPON_TBL C JOIN MEMBER_COUPON_TBL MC
		ON C.COUPON_NO = MC.COUPON_NO
		WHERE MEMBER_ID = #{memberId} AND USE_YN = 'N' AND END_COUPON_DATE > SYSDATE
	</select>
	
	<select id="selectCouponDetail" resultMap="CouponResultMap">
		SELECT *
		FROM COUPON_TBL
		WHERE COUPON_NO = #{couponNo}
	</select>
	
	<update id="deleteCoupon">
		UPDATE COUPON_TBL 
		SET  COUPON_RUN_YN = 'N'
	</update>
	
	<select id ="selectAlreadyCouponCheck" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER_COUPON_TBL
		WHERE COUPON_NO = #{couponNo}
		AND MEMBER_ID = #{memberId}
	</select>
	
	<insert id="insertMemberCoupon">
		INSERT INTO MEMBER_COUPON_TBL
		VALUES(#{couponNo},#{memberId},DEFAULT,SYSDATE+#{couponPeriod},DEFAULT)
	</insert>
	
	<update id="updateMemberCoupon">
		UPDATE MEMBER_COUPON_TBL
		SET USE_YN='Y'
	</update>
</mapper>