<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="NoteBoxMapper">
	<resultMap type="NoteBox" id="noteBoxResultMap">
		<id property="noteNo" column="NOTE_NO"/>
		<result property="recipientId" column="RECIPIENT_ID"/>
		<result property="senderId" column="SENDER_ID"/>
		<result property="senderTime" column="SENDER_TIME"/>
		<result property="noteTitle" column="NOTE_TITLE"/>
		<result property="noteContents" column="NOTE_CONTENTS"/>
		<result property="noteAccept" column="NOTE_ACCEPT"/>
		<result property="noteStatus" column="NOTE_STATUS"/>
		<result property="recipientNick" column="RECIPIENT_NICK"/>
		<result property="senderNick" column="SENDER_NICK"/>
		<result property="noteCheck" column="NOTE_CHECK"/>
	</resultMap>
	<resultMap type="Member" id="memberResultMap">
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberName" column="MEMBER_NAME"/>
	</resultMap>
	<resultMap type= "NoteChat" id="noteChatResultMap">
		<id property="chatNo" column="CHAT_NO"/>
		<result property="senderId" column="SENDER_ID"/>
		<result property="senderNick" column="SENDER_NICK"/>
		<result property="chatContents" column="CHAT_CONTENTS"/>
		<result property="senderDate" column="SENDER_DATE"/>
	</resultMap>
	<!-- 쪽지 조회 -->
	<select id="selectAllNoteBox" resultMap="noteBoxResultMap, noteChatResultMap">
		SELECT * FROM
			(SELECT NB.NOTE_NO
			    , NB.RECIPIENT_ID
			    , NB.RECIPIENT_NICK
			    , NB.SENDER_TIME AS SENDER_DATE
			    , NB.NOTE_CHECK
			    , NB.SENDER_ID 
			    , NB.SENDER_NICK 
			    , NC.CHAT_CONTENTS AS NOTE_CONTENTS
			    , NC.SENDER_DATE AS SENDER_TIME
			    , ROW_NUMBER()OVER(PARTITION BY NOTE_NO ORDER BY SENDER_DATE DESC) AS RN
			    FROM NOTEBOX_TBL NB FULL JOIN NOTECHAT_TBL NC ON NB.NOTE_NO = NC.CHAT_NO
				WHERE NB.SENDER_ID = #{memberId} AND NOTE_ACCEPT = 'Y')
			WHERE RN = 1
			UNION
			SELECT * FROM
			(SELECT NB.NOTE_NO
			    , NB.RECIPIENT_ID
			    , NB.RECIPIENT_NICK
			    , NB.SENDER_TIME AS SENDER_DATE
			    , NB.NOTE_CHECK
			    , NB.SENDER_ID 
			    , NB.SENDER_NICK 
			    , NC.CHAT_CONTENTS AS NOTE_CONTENTS
			    , NC.SENDER_DATE AS SENDER_TIME
			    , ROW_NUMBER()OVER(PARTITION BY NOTE_NO ORDER BY SENDER_DATE DESC) AS RN
			    FROM NOTEBOX_TBL NB FULL JOIN NOTECHAT_TBL NC ON NB.NOTE_NO = NC.CHAT_NO
				WHERE NB.RECIPIENT_ID = #{memberId})
			WHERE RN = 1
<!-- 		SELECT * FROM NOTEBOX_TBL WHERE RECIPIENT_ID = #{memberId} -->
<!-- 		SELECT NOTE_NO, RECIPIENT_ID, SENDER_ID, SENDER_TIME, NOTE_TITLE, NOTE_CONTENTS, NOTE_ACCEPT, NOTE_STATUS, RECIPIENT_NICK, SENDER_NICK FROM NOTEBOX_TBL N -->
<!-- 		LEFT OUTER JOIN REPORT_TBL R ON N.NOTE_NO = R.CONTENTS_NO WHERE (REPORT_PROCESS IS NULL AND RECIPIENT_ID = #{memberId} AND (SELECT COUNT(*) FROM REPORT_TBL WHERE CONTENTS_NO = 5) > 0) OR NOTE_ACCEPT = 'Y' ORDER BY NOTE_NO DESC -->
  	</select>
	<select id="selectTotalCount" resultType="_int">
  		SELECT COUNT(*) FROM NOTEBOX_TBL
  		<where>
			<if test="searchCondition.toString() == 'nickName'">
				SENDER_NICK LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'contents'">
				NOTE_CONTENTS LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'all'">
				NOTE_CONTENTS LIKE '%'||#{searchValue}||'%'
				OR SENDER_NICK LIKE '%'||#{searchValue}||'%'
			</if>
		</where>
  	</select>
  	<select id="selectOneByNo" resultMap="noteBoxResultMap, memberResultMap">
  		SELECT NOTE_NO, RECIPIENT_ID, SENDER_ID, SENDER_TIME, NOTE_TITLE, NOTE_CONTENTS, NOTE_ACCEPT, NOTE_STATUS, (SELECT MEMBER_NAME FROM MEMBER_TBL WHERE MEMBER_ID = #{recipientId}) AS RECIPIENT_NICK, (SELECT MEMBER_NAME FROM MEMBER_TBL WHERE MEMBER_ID = #{senderId}) AS SENDER_NICK FROM NOTEBOX_TBL 
  		WHERE NOTE_NO = #{noteNo}
  	</select>
	<update id="updateNoteBox">
		UPDATE NOTEBOX_TBL SET NOTE_ACCEPT = 'Y' WHERE NOTE_NO = #{noteNo}
	</update>
	<select id="selectCountNotBox" resultType="_int">
		SELECT COUNT(*) FROM NOTEBOX_TBL
		WHERE NOTE_CHECK = 'N' AND RECIPIENT_ID = #{memberId}
	</select>
	<select id="selectAllByValue" resultMap="noteBoxResultMap">
  		SELECT * FROM NOTEBOX_TBL
  		<where>
  			<if test="searchCondition.toString() == 'contents'">
  				NOTE_CONTENTS LIKE '%'||#{searchValue}||'%'
  			</if>
  			<if test="searchCondition.toString() == 'nickName'">
  				SENDER_NICK LIKE '%'||#{searchValue}||'%'
  			</if>
  			<if test="searchCondition.toString() == 'all'">
	  			NOTE_CONTENTS LIKE '%'||#{searchValue}||'%'
	  			OR SENDER_NICK LIKE '%'||#{searchValue}||'%'
  			</if>
  		 	AND NOTE_STATUS = 'Y'
  		</where>
  	</select>
  	<!-- 쪽지 읽음 -->
	<update id="updateCheckNote">
		UPDATE NOTEBOX_TBL SET NOTE_CHECK = 'Y'
		WHERE NOTE_NO = #{noteNo} AND RECIPIENT_ID = #{recipientId}
	</update>
</mapper>