<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="NoteChatMapper">
	<resultMap type= "NoteChat" id="noteChatResultMap">
		<id property="chatNo" column="CHAT_NO"/>
		<result property="senderId" column="SENDER_ID"/>
		<result property="senderNick" column="SENDER_NICK"/>
		<result property="chatContents" column="CHAT_CONTENTS"/>
		<result property="senderDate" column="SENDER_DATE"/>
	</resultMap>
	<select id="selectAllNoteChat" resultMap="noteChatResultMap">
		SELECT * FROM NOTECHAT_TBL
		WHERE CHAT_NO = #{noteNo} ORDER BY SENDER_DATE ASC
<!-- 		AND RECIPIENT_ID = 'user02' -->
  	</select>
  	<insert id="insertNoteChat">
  		INSERT INTO NOTECHAT_TBL
  		VALUES(#{noteNo}, #{senderId}, #{senderNick}, #{noteContents}, TO_CHAR(SYSDATE,'YYYY-MM-DD HH24:MI'))
  	</insert>
	
</mapper>