<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="OrderMapper">
  
  	<resultMap type="Order" id="OrderResultMap">
		<id	 	column="ORDER_NO" 				property="orderNo"/>  	
		<result column="DELIVERY_FEE" 			property="deliveryFee"/>
		<result column="DISCOUNT_AMOUNT" 		property="discountAmount"/>
		<result column="FINAL_COST" 			property="finalCost"/>
		<result column="MEMBER_ID" 				property="memberId"/>
		<result column="ADDRESS" 				property="address"/>
		<result column="CONTACT_PHONE" 			property="contactPhone"/>
		<result column="DELIVERY_REQUEST" 		property="deliveryRequest"/>
		<result column="AGREE_YN" 				property="agreeYn"/>
		<result column="PAYMENT_METHOD" 		property="paymentMethod"/>
		<result column="CARD_KIND" 				property="cardKind"/>
		<result column="PAY_COMPLETE" 			property="payComplete"/>
		<result column="ORDER_CANCEL" 			property="orderCancel"/>
		<result column="DELIVERY_START" 		property="deliveryStart"/>
		<result column="DELIVERY_COMPLETE"	    property="deliveryComplete"/>
		<result column="DELIVERY_NO" 			property="deliveryNo"/>
		<result column="ORDER_DATE" 			property="orderDate"/>
		<result column="MEMBER_NICK"			property="memberNick"/>
		<result column="PAY_NO" 				property="payNo"/>
		<result column="VBANK_DUEDATE" 			property="vBankDueDate"/>
		<result column="VBANK_HOLDER" 			property="vBankHolder"/>
		<result column="VBANK_NAME" 			property="vBankName"/>
		<result column="VBANK_NUM" 				property="vBankNum"/>
		<result column="ORDER_STATUS" 			property="orderStatus"/>
  	</resultMap>
  	<resultMap type="OrderProduct" id="OrderProductResultMap">
  		<id 	column="ORDER_NO" 		property="orderNo"/>
  		<result column="PRODUCT_NO" 	property="productNo"/>
  		<result column="ORDER_QTY"	    property="orderQty"/>
  	</resultMap>
  	
  	
  	<insert id="insertOrder">
  		INSERT INTO ORDER_TBL
  		VALUES(#{orderNo},#{deliveryFee},#{discountAmount},#{finalCost},#{memberId},#{address},#{contactPhone},#{deliveryRequest},#{agreeYn},#{paymentMethod},#{cardKind},DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,#{memberNick},-1,#{vBankDueDate},#{vBankHolder},#{vBankName},#{vBankNum},DEFAULT)
  	</insert>
  	
  	<insert id="insertOrderProducts">
  		INSERT INTO ORDER_PRODUCT_TBL
  		VALUES(#{orderNo},#{productNo},#{orderQty})
  	</insert>
  	
  	<update id="updateVBankInfo">
  		UPDATE ORDER_TBL 
  		SET VBANK_DUEDATE = #{vBankDueDate},VBANK_HOLDER= #{vBankHolder}, VBANK_NAME=#{vBankName},VBANK_NUM=#{vBankNum},ORDER_STATUS='ready'
  		WHERE ORDER_NO = #{orderNo}
  	</update>
  	
  	<select id="selectOneOrder" resultMap="OrderResultMap">
  		SELECT *
  		FROM ORDER_TBL
  		WHERE ORDER_NO = #{orderNo}
  	</select>
  	
  	<select id="selectOrderProductsOnOrder" resultMap="OrderProductResultMap">
  		SELECT *
  		FROM ORDER_PRODUCT_TBL
  		WHERE ORDER_NO = #{orderNo}
  	</select>
  	
  	<select id="selectMemberOrder" resultMap="OrderResultMap">
  		SELECT * 
		FROM ORDER_TBL
		<where>
			MEMBER_ID = #{memberId}
			AND ((ORDER_STATUS =  'paid') OR (ORDER_STATUS = 'ready'))
			<if test='dayBefore != 0 '>
				AND ORDER_DATE <![CDATA[>=]]> SYSDATE - #{dayBefore}
			</if>
			<if test='dayBefore ==0 and startDate != null'>
				AND (ORDER_DATE <![CDATA[>=]]> #{startDate} AND ORDER_DATE <![CDATA[<=]]> #{endDate}+1 )
			</if>	
		</where>
		ORDER BY ORDER_DATE DESC
  	</select>
  	
	<select id="selectCountMemberOrder" resultType="_int">
		SELECT COUNT(*) 
		FROM ORDER_TBL
		<where>
			MEMBER_ID = #{memberId}
			AND ((ORDER_STATUS =  'paid') OR (ORDER_STATUS = 'ready'))
			<if test='dayBefore != 0 '>
				AND ORDER_DATE <![CDATA[>=]]> SYSDATE - #{dayBefore}
			</if>
			<if test='dayBefore ==0 and startDate != null'>
				AND (ORDER_DATE <![CDATA[>=]]> #{startDate} AND ORDER_DATE <![CDATA[<=]]> #{endDate}+1 )
			</if>	
		</where>
	</select>
	
	<select id="selectGetToBePaidFinalCost" resultType="_int">
		SELECT FINAL_COST
		FROM ORDER_TBL
		WHERE ORDER_NO = #{merchant_uid}
	</select>
  	
  	<select id="selectMemberCancelOrder" resultMap="OrderResultMap">
  		SELECT * 
		FROM ORDER_TBL
		<where>
			MEMBER_ID = #{memberId}
			<if test='dayBefore != 0 '>
				AND ORDER_DATE <![CDATA[>=]]> SYSDATE - #{dayBefore}
			</if>
			<if test='dayBefore ==0 and startDate != null'>
				AND (ORDER_DATE <![CDATA[>=]]> #{startDate} AND ORDER_DATE <![CDATA[<=]]> #{endDate}+1 )
			</if>	
			AND ORDER_CANCEL = 'Y'
		</where>
		ORDER BY ORDER_DATE DESC
  	</select>
  	
	<select id="selectCountMemberCancelOrder" resultType="_int">
		SELECT COUNT(*) 
		FROM ORDER_TBL
		<where>
			MEMBER_ID = #{memberId}
			<if test='dayBefore != 0 '>
				AND ORDER_DATE <![CDATA[>=]]> SYSDATE - #{dayBefore}
			</if>
			<if test='dayBefore ==0 and startDate != null'>
				AND (ORDER_DATE <![CDATA[>=]]> #{startDate} AND ORDER_DATE <![CDATA[<=]]> #{endDate}+1 )
			</if>	
			AND ORDER_CANCEL = 'Y'
		</where>
	</select>
  	
  	<update id="updatePayComplete">
  		UPDATE ORDER_TBL
  		SET PAY_COMPLETE = 'Y', ORDER_STATUS = 'paid'
  		WHERE ORDER_NO = #{orderNo}
  	</update>
  	
  	<update id="updateDeliveryStart">
  		UPDATE ORDER_TBL
  		SET DELIVERY_START = #{deliveryStart}
  		WHERE ORDER_NO = #{orderNo}
  	</update>
  	
  	<update id="updateDeliveryComplete">
  		UPDATE ORDER_TBL
  		SET DELIVERY_COMPLETE = #{deliveryComplete}
  		WHERE ORDER_NO = #{orderNo}
  	</update>
  	
  	<update id="updateOrderCancel">
  		UPDATE ORDER_TBL
  		SET ORDER_CANCEL = #{orderCancel}
  		WHERE ORDER_NO = #{orderNo}
  	</update>
  </mapper>