<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ProductMapper">
	<resultMap type="Product" id="ProductResultMap">
		<id		column="PRODUCT_NO" 			property="productNo"/>
		<result column="PRODUCT_NAME" 			property="productName"/>
		<result column="PRODUCT_BRAND" 			property="productBrand"/>
		<result column="PRODUCT_PRICE" 			property="productPrice"/>
		<result column="PRODUCT_DESC" 			property="productDesc"/>
		<result column="GRADE_SUM" 				property="gradeSum"/>
		<result column="PRODUCT_REGI_DATE" 		property="productRegiDate"/>
		<result column="PRODUCT_MODI_DATE" 		property="productModiDate"/>
		<result column="PRODUCT_SALES" 			property="productSales"/>
		<result column="MAIN_IMG_NAME" 			property="mainImgName"/>
		<result column="MAIN_IMG_RENAME" 		property="mainImgReName"/>
		<result column="MAIN_IMG_ROOT" 			property="mainImgRoot"/>
		<result column="COUPON_LIST" 			property="couponList"/>
		<result column="PRODUCT_DELETE" 		property="productDelete"/>
		<result column="GRADE_AVER" 			property="gradeAver"/>
		<result column="REVIEW_COUNT" 			property="reviewCount"/>
	</resultMap>
	
	<insert id="insertProduct">
		INSERT INTO PRODUCT_TBL
		VALUES(SEQ_PRODUCT_NO.NEXTVAL,#{productName},#{productBrand},#{productPrice},#{productDesc},
		DEFAULT,DEFAULT,DEFAULT,DEFAULT,#{mainImgName},#{mainImgReName},#{mainImgRoot},
		#{couponList},DEFAULT,DEFAULT,DEFAULT)
	</insert>
	
<!-- 	상품정보저장 직후 서브이미지 추가 -->
	<insert id="insertSubImg">
		INSERT INTO PRODUCT_IMG_TBL
		VALUES(SEQ_IMG_NO.NEXTVAL,SEQ_PRODUCT_NO.CURRVAL,#{imgName},#{imgReName},#{imgRoot})
	</insert>
	
	<insert id="insertInfoImg">
		INSERT INTO PRODUCT_INFOIMG_TBL
		VALUES(SEQ_IMG_NO.NEXTVAL,SEQ_PRODUCT_NO.CURRVAL,#{imgName},#{imgReName},#{imgRoot})
	</insert>
	
	<select id="selectAllProduct" resultMap="ProductResultMap">
		SELECT * FROM PRODUCT_TBL
		WHERE PRODUCT_DELETE = 'N'
	</select>
	
	<select id="selectAllProductSearch" resultMap="ProductResultMap">
		SELECT * FROM PRODUCT_TBL
		WHERE (PRODUCT_NAME LIKE '%'||#{searchVal}||'%')OR
		(PRODUCT_BRAND LIKE '%'||#{searchVal}||'%')
		AND PRODUCT_DELETE = 'N'
		<if test='${}'></if>
		ORDER BY ${searchColumn} ${orderCondition}
	</select>
	
	<select id="selectAdminProductSearch" resultMap="ProductResultMap">
		SELECT * FROM PRODUCT_TBL
		WHERE (PRODUCT_NAME LIKE '%'||#{searchVal}||'%')OR
		(PRODUCT_BRAND LIKE '%'||#{searchVal}||'%')
		AND PRODUCT_DELETE = 'N'
	</select>
	
	<select id="selectCountAllProduct" resultType="_int">
		SELECT COUNT(*) FROM PRODUCT_TBL
		WHERE PRODUCT_DELETE = 'N'
	</select>
	
	<select id="selectCountSearchProduct" resultType="_int">
		SELECT COUNT(*) FROM PRODUCT_TBL
		WHERE (PRODUCT_NAME LIKE '%'||#{searchVal}||'%')OR
		(PRODUCT_BRAND LIKE '%'||#{searchVal}||'%')
		AND PRODUCT_DELETE = 'N'
	</select>
	
	<select id="selectCountAdminProductSearch" resultType="_int">
		SELECT COUNT(*) FROM PRODUCT_TBL
		WHERE (PRODUCT_NAME LIKE '%'||#{searchVal}||'%')OR
		(PRODUCT_BRAND LIKE '%'||#{searchVal}||'%')
		AND PRODUCT_DELETE = 'N'
	</select>
	
	<select id="selectOneProduct" resultMap="ProductResultMap">
		SELECT * FROM PRODUCT_TBL
		WHERE PRODUCT_NO = #{productNo}
		AND PRODUCT_DELETE = 'N'
	</select>
	
	<update id="updateProduct">
		UPDATE PRODUCT_TBL 
		SET PRODUCT_NAME=#{productName},PRODUCT_BRAND=#{productBrand},PRODUCT_PRICE=#{productPrice},PRODUCT_DESC=#{productDesc},
		PRODUCT_MODI_DATE=SYSDATE,MAIN_IMG_NAME=#{mainImgName},MAIN_IMG_RENAME=#{mainImgReName},MAIN_IMG_ROOT=#{mainImgRoot},
		COUPON_LIST=#{couponList}
		WHERE PRODUCT_NO = #{productNo}
	</update>
	
<!-- 	리뷰평점으로 총점을 더하고 리뷰개수를 1 더해준다. 평점도 리셋한다. 컨트롤러단에서 미리 1씩 더하여 평점을 계산해서 넣는다. -->
	<update id="updateProductGradeSum">
		UPDATE PRODUCT_TBL 
		SET GRADE_SUM = GRADE_SUM + #{reviewGrade}, REVIEW_COUNT = REVIEW_COUNT+1, GRADE_AVER=#{gradeAver}
		WHERE PRODUCT_NO = #{productNo}
	</update>
	
	<update id="deleteProduct">
		UPDATE PRODUCT_TBL
		SET PRODUCT_DELETE = 'Y'
		WHERE PRODUCT_NO = #{productNo}
	</update>
	
	<insert id="insertProductLike">
		INSERT INTO PRODUCT_LIKE_TBL
		VALUES(#{productNo},#{memberId})
	</insert>
	
	<select id="selectProductLike" resultMap="ProductResultMap">
		SELECT * 
		FROM PRODUCT_TBL P JOIN PRODUCT_LIKE_TBL PL
		ON P.PRODUCT_NO = PL.PRODUCT_NO
		WHERE MEMBER_ID = #{memberId}
	</select>
	
	<select id="selectCheckProductLike" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT_LIKE_TBL
		WHERE MEMBER_ID = #{memberId} AND PRODUCT_NO = #{productNo}
	</select>
	
	<delete id="deleteProductLike">
		DELETE FROM PRODUCT_LIKE_TBL
		WHERE MEMBER_ID = #{memberId} AND PRODUCT_NO = #{productNo}
	</delete>
	
	
</mapper>