<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ProductMapper">
	<resultMap type="Product" id="ProductResultMap">
		<id		column="PRODUCT_NO" 			property="productNo"/>
		<result column="PRODUCT_NAME" 			property="productName"/>
		<result column="PRODUCT_BRAND" 			property="productBrand"/>
		<result column="PRODUCT_PRICE" 			property="productPrice"/>
		<result column="PRODUCT_DESC" 			property="productDesc"/>
		<result column="GRADE_SUM" 				property="gradeSum"/>
		<result column="PRODUCT_REGI_DATE" 		property="productRegiDate"/>
		<result column="PRODUCT_MODI_DATE" 		property="productModiDate"/>
		<result column="PRODUCT_SALES" 			property="productSales"/>
		<result column="MAIN_IMG_NAME" 			property="mainImgName"/>
		<result column="SUB_IMG1_NAME" 			property="firstSubImgName"/>
		<result column="SUB_IMG2_NAME" 			property="secondSubImgName"/>
		<result column="SUB_IMG3_NAME" 			property="thirdSubImgName"/>
		<result column="SUB_IMG4_NAME" 			property="fourthSubImgName"/>
		<result column="INFO_IMG_NAME" 			property="infoImgName"/>
		<result column="MAIN_IMG_RENAME" 		property="mainImgReName"/>
		<result column="SUB_IMG1_RENAME" 		property="firstSubImgReName"/>
		<result column="SUB_IMG2_RENAME" 		property="secondSubImgReName"/>
		<result column="SUB_IMG3_RENAME" 		property="thirdSubImgReName"/>
		<result column="SUB_IMG4_RENAME" 		property="fourthSubImgReName"/>
		<result column="INFO_IMG_RENAME" 		property="infoImgReName"/>
		<result column="MAIN_IMG_ROOT" 			property="mainImgRoot"/>
		<result column="SUB_IMG1_ROOT" 			property="firstSubImgRoot"/>
		<result column="SUB_IMG2_ROOT" 			property="secondSubImgRoot"/>
		<result column="SUB_IMG3_ROOT" 			property="thirdSubImgRoot"/>
		<result column="SUB_IMG4_ROOT" 			property="fourthSubImgRoot"/>
		<result column="INFO_IMG_ROOT" 			property="infoImgRoot"/>
		<result column="COUPON_LIST" 			property="couponList"/>
		<result column="PRODUCT_DELETE" 		property="productDelete"/>
		<result column="GRADE_AVER" 			property="gradeAver"/>
		<result column="REVIEW_COUNT" 			property="reviewCount"/>
	</resultMap>
	
	<insert id="insertProduct">
		INSERT INTO PRODUCT_TBL
		VALUES(SEQ_PRODUCT_NO.NEXTVAL.#{productNo},#{productName},#{productBrand},#{productPrice},#{productDesc},
		#{gradeSum},#{productRegiDate},#{productModiDate},#{productSales},
		#{mainImgName},#{firstSubImgName},#{secondSubImgName},#{thirdSubImgName},#{fourthSubImgName},#{infoImgName},
		#{mainImgReName},#{firstSubImgReName},#{secondSubImgReName},#{thirdSubImgReName},#{fourthSubImgReName},#{infoImgReName},
		#{mainImgRoot},#{firstSubImgRoot},#{secondSubImgRoot},#{thirdSubImgRoot},#{fourthSubImgRoot},#{infoImgRoot},
		#{couponList},DEFAULT,#{gradeAver},DEFAULT)
	</insert>
	
	<select id="selectAllProduct" resultMap="ProductResultMap">
		SELECT * FROM PRODUCT_TBL
	</select>
	
	<select id="selectAllProductSearch" resultMap="ProductResultMap">
		SELECT * FROM PRODUCT_TBL
		WHERE (PRODUCT_NAME LIKE '%'||#{searchVal}||'%')OR
		(PRODUCT_BRAND LIKE '%'||#{searchVal}||'%')
		ORDER BY ${searchColumn} ${orderCondition}
	</select>
	
	<select id="selectOneProduct" resultMap="ProductResultMap">
		SELECT * FROM PRODUCT_TBL
		WHERE PRODUCT_NO = #{productNo}
	</select>
	
	<update id="updateProduct">
		UPDATE PRODUCT_TBL 
		SET PRODUCT_NAME=#{productName},PRODUCT_BRAND=#{productBrand},PRODUCT_PRICE=#{productPrice},PRODUCT_DESC=#{productDesc},
		PRODUCT_MODI_DATE=SYSDATE,MAIN_IMG_NAME=#{mainImgName},SUB_IMG1_NAME=#{firstSubImgName},
		SUB_IMG2_NAME=#{secondSubImgName},SUB_IMG3_NAME=#{thirdSubImgName},SUB_IMG4_NAME=#{fourthSubImgName},
		INFO_IMG_NAME=#{infoImgName},MAIN_IMG_RENAME=#{mainImgReName},SUB_IMG1_RENAME=#{firstSubImgReName},
		SUB_IMG2_RENAME=#{secondSubImgReName},SUB_IMG3_RENAME=#{thirdSubImgReName},SUB_IMG4_RENAME=#{fourthSubImgReName},
		INFO_IMG_RENAME=#{infoImgReName},MAIN_IMG_ROOT=#{mainImgRoot},SUB_IMG1_ROOT=#{firstSubImgRoot},
		SUB_IMG2_ROOT=#{secondSubImgRoot},SUB_IMG3_ROOT=#{thirdSubImgRoot},SUB_IMG4_ROOT=#{fourthSubImgRoot},
		INFO_IMG_ROOT=#{infoImgRoot},COUPON_LIST=#{couponList}
		WHERE PRODUCT_NO = #{productNo}
	</update>
	
<!-- 	리뷰평점으로 총점을 더하고 리뷰개수를 1 더해준다. 평점도 리셋한다. 컨트롤러단에서 미리 1씩 더하여 평점을 계산해서 넣는다. -->
	<update id="updateProductGradeSum">
		UPDATE PRODUCT_TBL 
		SET GRADE_SUM = GRADE_SUM + #{reviewGrade}, REVIEW_COUNT = REVIEW_COUNT+1, GRADE_AVER=#{gradeAver}
		WHERE PRODUCT_NO = #{productNo}
	</update>
	
	<update id="deleteProduct">
		UPDATE PRODUCT_TBL
		SET PRODUCT_DELETE = 'Y'
		WHERE PRODUCT_NO = #{productNo}
	</update>
	
	<insert id="insertProductLike">
		INSERT INTO PRODUCT_LIKE_TBL
		VALUES(#{productNo},#{memberId})
	</insert>
	
	<select id="selectProductLike" resultMap="ProductResultMap">
		SELECT * 
		FROM PRODUCT_TBL P JOIN PRODUCT_LIKE_TBL PL
		ON P.PRODUCT_NO = PL.PRODUCT_NO
		WHERE MEMBER_ID = #{memberId}
	</select>
	
	<select id="selectCheckProductLike" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT_LIKE_TBL
		WHERE MEMBER_ID = #{memberId} AND PRODUCT_NO = #{productNo}
	</select>
	
	<delete id="deleteProductLike">
		DELETE FROM PRODUCT_LIKE_TBL
		WHERE MEMBER_ID = #{memberId} AND PRODUCT_NO = #{productNo}
	</delete>
	
	
</mapper>