<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ReviewMapper">
	<resultMap type="Review" id="ReviewResultMap">
		<id		column="REVIEW_NO" 				property="reviewNo"/>
		<result column="MEMBER_ID" 				property="memberId"/>
		<result column="MEMBER_NICK" 			property="memberNick"/>
		<result column="REVIEW_CONTENTS" 		property="reviewContents"/>
		<result column="REVIEW_IMG_NAME" 		property="reviewImgName"/>
		<result column="REVIEW_IMG_RENAME" 		property="reviewImgRename"/>
		<result column="REVIEW_IMG_ROOT" 		property="reviewImgRoot"/>
		<result column="REVIEW_TIME" 			property="reviewTime"/>
		<result column="REVIEW_GRADE" 			property="reviewGrade"/>
		<result column="PRODUCT_NO" 			property="productNo"/>
	</resultMap>
	
	<insert id="insertReview">
		INSERT INTO REVIEW_TBL
		VALUES(SEQ_REVIEW_NO.NEXTVAL,#{memberId},#{memberNick},#{reviewContents},#{reviewImgName},#{reviewImgRename},#{reviewImgRoot},DEFAULT,#{reviewGrade},#{productNo})
	</insert>
	
	<select id="selectReview" resultMap="ReviewResultMap">
		SELECT * FROM REVIEW_TBL
		WHERE PRODUCT_NO = #{productNo}
		<if test='searchColumn != null and searchColumn != ""'>
			ORDER BY ${searchColumn} ${orderCondition}
		</if>
		<if test='searchColumn == null or searchColumn ==""'>
			ORDER BY REVIEW_GRADE DESC
		</if>
	</select>
	
	<select id="selectCountReview" resultType="_int">
		SELECT COUNT(*) FROM REVIEW_TBL
		WHERE PRODUCT_NO = #{productNo}
	</select>
	
	<select id="selectMemberReview" resultMap="ReviewResultMap">
		SELECT * 
		FROM REVIEW_TBL
		<where>
			MEMBER_ID = #{memberId}
			<if test='dayBefore != 0 '>
				AND REVIEW_TIME <![CDATA[>=]]> SYSDATE - #{dayBefore}
			</if>
			<if test='dayBefore ==0 and startDate != null'>
				AND (REVIEW_TIME <![CDATA[>=]]> #{startDate} AND REVIEW_TIME <![CDATA[<=]]> #{endDate}+1 )
			</if>	
		</where>
		ORDER BY REVIEW_TIME DESC
	</select>
	
	<select id="selectCountMemberReview" resultType="_int">
		SELECT COUNT(*) 
		FROM REVIEW_TBL
		<where>
			MEMBER_ID = #{memberId}
			<if test='dayBefore != 0 '>
				AND REVIEW_TIME <![CDATA[>=]]> SYSDATE - #{dayBefore}
			</if>
			<if test='dayBefore ==0 and startDate != null'>
				AND (REVIEW_TIME <![CDATA[>=]]> #{startDate} AND REVIEW_TIME <![CDATA[<=]]> #{endDate}+1 )
			</if>	
		</where>
	</select>
	
	<delete id="deleteMemberReview">
		DELETE FROM REVIEW_TBL
		WHERE REVIEW_NO = #{reviewNo}
	</delete>
	
<!-- 리뷰권한 등록	 -->
	<insert id="insertReviewPossible">
		INSERT INTO REVIEW_POSSIBLE_TBL
		VALUES(SEQ_RP_NO.NEXTVAL,#{memberId},#{productNo},DEFAULT,DEFAULT)
	</insert>

	
</mapper>