<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ScheduleMapper">
	<resultMap type= "Schedule" id="scheduleResultMap">
		<id property="matchNo" column="MATCH_NO"/>
		<result property="matchMemberId" column="MATCH_MEMBER_ID"/>
		<result property="matchMemberNick" column="MATCH_MEMBER_NICK"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberNick" column="MEMBER_NICK"/>
		<result property="matchDetail" column="MATCH_DETAIL"/>
		<result property="matchDate" column="MATCH_DATE"/>
		<result property="meetDate" column="MEET_DATE"/>
		<result property="endDate" column="END_DATE"/>
		<result property="color" column="COLOR"/>
		
	</resultMap>
	<insert id="insertSchedule">
		INSERT INTO SCHEDULE_TBL VALUES(SEQ_SCHEDULE_NO.NEXTVAL, #{matchMemberId}, #{matchMemberNick}, #{memberId}, #{memberNick}, #{matchDetail}, TO_CHAR(SYSDATE,'YYYY-MM-DD HH24:MI'), #{meetDate}, null, null)
	</insert>
	<insert id="insertDaySchedule">
		INSERT INTO SCHEDULE_TBL VALUES(SEQ_SCHEDULE_NO.NEXTVAL, #{matchMemberId}, #{matchMemberNick}, #{memberId}, #{memberNick}, #{matchDetail}, #{matchDate}, #{meetDate}, #{endDate}, #{color})
	</insert>
	<select id="selectAllSchedule" resultMap="scheduleResultMap">
		SELECT * FROM SCHEDULE_TBL WHERE MEMBER_ID = #{memberId} OR MATCH_MEMBER_ID = #{memberId}
	</select>
	<delete id="deleteSchedule">
		DELETE FROM SCHEDULE_TBL WHERE MATCH_NO = #{matchNo}
	</delete>
	<update id="updateSchedule">
		UPDATE SCHEDULE_TBL SET MEET_DATE = #{meetDate}
		WHERE MATCH_NO = #{matchNo}
	</update>
</mapper>