<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ShopQnaMapper">
	<resultMap type="sQna" id="sQnaResultMap">
		<id		column="QNA_NO" 				property="qnaNo"/>
		<result column="PRODUCT_NO" 			property="productNo"/>
		<result column="QNA_CODE" 				property="qnaCode"/>
		<result column="QNA_TYPE" 				property="qnaType"/>
		<result column="QNA_TITLE" 				property="qnaTitle"/>
		<result column="QNA_CONTENTS" 			property="qnaContents"/>
		<result column="Q_ENROLL_DATE" 			property="qEnrollDate"/>
		<result column="A_ENROLL_DATE" 			property="aEnrollDate"/>
		<result column="ANSWER_STATUS" 			property="answerStatus"/>
		<result column="ANSWER_CONTENTS" 		property="answerContents"/>
		<result column="SECRET_STATUS" 			property="secretStatus"/>
		<result column="MEMBER_ID" 				property="memberId"/>
	</resultMap>
</mapper>