<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="com.kh.junspring">
		<level value="info" />
	</logger>
	
	<!-- 3rdparty Loggers -->
<!-- 	<logger name="org.springframework.core"> -->
<!-- 		<level value="debug" /> -->
<!-- 	</logger> -->
	
<!-- 	<logger name="org.springframework.beans"> -->
<!-- 		<level value="debug" /> -->
<!-- 	</logger> -->
	
<!-- 	<logger name="org.springframework.context"> -->
<!-- 		<level value="debug" /> -->
<!-- 	</logger> -->

<!-- 	<logger name="org.springframework.web"> -->
<!-- 		<level value="debug" /> -->
<!-- 	</logger> -->
	<!-- SQL Logger part1 -->
<!-- 	<logger name="java.sql.Connection"> -->
<!-- 		<level value="debug" /> -->
<!-- 		<appender-ref ref="sql-console" /> -->
<!-- 	</logger> -->

<!-- 	<logger name="java.sql.Statement"> -->
<!-- 		<level value="debug" /> -->
<!-- 		<appender-ref ref="sql-console" /> -->
<!-- 	</logger> -->

<!-- 	<logger name="java.sql.PreparedStatement"> -->
<!-- 		<level value="debug" /> -->
<!-- 		<appender-ref ref="sql-console" /> -->
<!-- 	</logger> -->

	
	<logger name="java.sql.ResultSet22">
		<level value="debug" />
		<appender-ref ref="sql-console" />
	</logger>
		
	<!-- SQL Logger part2 -->
	<!-- 열려있는 연결 수립 및 해제 이벤트를 기록, 연결문제를 찾아내는데 유용함. -->
	<logger name="jdbc.connection" additivity="false">
		<level value="info" />
		<appender-ref ref="console" />	
	</logger>
	<!-- SQL문과 해당 SQL을 실행시키는 수행된 시간 정보를 포함. -->
<!-- 	<logger name="jdbc.sqltiming" additivity="false"> -->
<!-- 		<level value="info" /> -->
<!-- 		<appender-ref ref="console" /> -->
<!-- 	</logger> -->
	<!-- SQL문만 로그를 남김, PreparedStatement일 경우 ?(위치홀더)값이 완전히 보임 -->
	<logger name="jdbc.sqlonly" additivity="false">
		<level value="info" />
		<appender-ref ref="console" />
	</logger>
	<!-- ResultSet을 제외한 모든 JDBC호출 정보를 로그로 남김, 로그양이 많고 필요하지 않으면 사용 X -->
<!-- 	<logger name="jdbc.audit" additivity="false"> -->
<!-- 		<level value="info" /> -->
<!-- 		<appender-ref ref="console" /> -->
<!-- 	</logger> -->
	<!-- ResultSet을 포함한 모든 JDBC호출 정보를 로그로 남김, 로그양이 많음 -->
<!-- 	<logger name="jdbc.resultset" additivity="false"> -->
<!-- 		<level value="info" /> -->
<!-- 		<appender-ref ref="console" /> -->
<!-- 	</logger> -->
	<!-- SQL결과 조회된 데이터의 table을 그려줌 -->
	<logger name="jdbc.resultsettable" additivity="false">
		<level value="info" />
		<appender-ref ref="console" />
	</logger>
	
	
	
	<!-- Root Logger -->
	<!-- 최상위 로거 -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>
